
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #ccc;
}

i {
    color: #ccc;
    font-size: 1.8rem;
    border-radius: 8px;
    transition: color 300ms;
}

i:hover {
    color: #fff;
    cursor: pointer;
}

h2 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #C5D1ED;
}

h4 {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #C4D1EC;
}

h3, .title-wrapper h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

p {
    font-size: 25px;
    font-weight: 300;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

strong {
    color: #fff;
}

.biography p {
    font-size: 20px;
    line-height: 1.8;
}

.project-title {
    font-family: 'Inter', sans-serif;
}




@media (max-width: 768px) {
    section {
        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    }
    .profile-info h4, h4 {
        font-size: 20px;
    }
    .profile-info h2, h2 {
        font-size: 34px;
        text-align: center;
    }
    .profile-info p, p {
        font-size: 18px;
    }
    .cv a, .mail a, .navigation a {
        font-family: 'Roboto', 'Inter', 'Lato', sans-serif;
        font-weight: 800;
    }
    h3, .title-wrapper h3 {
        font-size: 14px !important; 
        font-weight: 400;
    }
    .biography p {
        font-size: 16px;
    }

}
