
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ccc;
}

i {
    color: #ccc;
    font-size: 1.8rem;
    border-radius: 8px;
    transition: color 300ms;
}

i:hover {
    color: #fff;
    cursor: pointer;
}

h2 {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: #C5D1ED;
}

h4 {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #C4D1EC;
}

h3, .title-wrapper h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

p {
    font-size: 25px;
    font-weight: 300;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

strong {
    color: #fff;
}

.biography p {
    font-size: 20px;
    line-height: 1.8;
}

.project-title {
    font-family: 'Inter', sans-serif;
}



@media (max-width: 768px) {
    
    h4 {
        font-size: 20px;
    }
    h2 {
        font-size: 32px;
        text-align: center;
    }
    .title-wrapper h3 {
        font-size: 14px;
    }
    .profile-info p, p {
        font-size: 18px;
    }
}
