
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

a {text-decoration: none;color: #ccc;}

i {
    color: #ccc;
    font-size: 1.8rem;
    border-radius: 8px;
    transition-duration: 300ms;
}
i:hover {
    color: #fff;
    transition-duration: 300ms;
    cursor: pointer;
}
h2 {
    font-size: 50px;
    font-family: 'Inter';
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: #C5D1ED;
}
h4 {
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #C4D1EC;
}
p {
    font-size: 25px;
    font-weight: 300;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

strong {color: #fff;}

.biography p {font-size: 20px; line-height: 1.8; font-family: 'Inter';}

.title-wrapper h3{font-family: 'Inter';font-weight: 400;}

.cv, .mail a{font-family: 'Inter';}

.navigation a {font-family: 'Inter';}

.project-title {font-family: 'Inter';}

.gallery h5 {
    font-family: 'Inter'; 
    font-size: 24px; 
    font-weight: 400; 
    padding: 0; margin: 0;  
    color: #C5D1ED;
}

@media (max-width: 768px) {
    .gallery h5 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    h2 {
        font-size: 32px;
        text-align: center;
    }
    .title-wrapper h3 {font-size: 13px;}
    .profile-info p {font-size: 19px;}
}